@use "../globals" as *;
@use "../parts/common" as *;

.header {
  width: 100%;
  height: $headerHeight;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  &__inner {
    @extend .content-width;
    @extend .mt-sm;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.hero {
  // header分の高さを追加（fixed対策）
  margin-top: $headerHeight;

  &__inner {
    @extend .content-width;
    @extend .flex;
    @include mq(md) {
      flex-direction: row-reverse;
    }
  }

  &__img {
    margin: 20px auto;
    @extend .mb-sm;

    & > img {
      width: 80%;
      margin: 0 auto;

      @include mq(md) {
        width: 100%;
      }
    }
  }

  &__texts {
    color: $base-color;
    @extend .mb-sm;
  }

  &__title {
    @extend .font-copy;
    @extend .mb-sm;
  }

  &__ul {
    @extend .header3;
    @extend .mb-sm;
    line-height: 2.3;
  }

  &__li {
    &::before {
      font-family: "Material Icons";
      content: "\e5ca";
      margin-right: 4px;
    }
  }

  &__btn {
    margin: 2.5em;
    position: relative;
    padding: 12px 60px;

    &::after {
      font-family: "Material Icons";
      content: "\e5c8";
      position: absolute;
      top: 25%;
      right: 5%;
    }
  }
}

.feature {
  background-color: $bg-base;
  color: $base-color;
  &__inner {
    @extend .content-width;
    @extend .flex;
    align-items: center;
  }

  &__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    @extend .mb-md;
  }

  &__img {
    @extend .mb-md;
    & > img {
      width: 20%;
      margin: 0 auto;
    }
  }

  &__texts {
  }

  &__title {
    @extend .mb-sm;
    @extend .header3;
  }

  &__text {
  }
}

.function {
  background-color: $bg-dark;
  color: $light-color;

  &__inner {
    @extend .content-width;
    display: flex;
    flex-direction: column;
  }

  &__item {
  }

  &__img {
  }

  &_texts {
  }

  &__title {
  }

  &__text {
  }
}
