@use "../globals" as *;
@use "../parts/common" as *;

.btn {
  @extend .font-sm;
  // 上下左右中央寄せ
  display: inline-flex;
  justify-content: center;
  text-align: center;
  line-height: 1;
  font-weight: 600;
  color: $light-color;
  background-color: $base-color;
  border: none;
  border-radius: 8px;
  padding: 15px 16px;
  letter-spacing: 0.16em;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $bg-button-hover;
  }
}

.header {
  width: 100%;
  height: $headerHeight;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  // scroll animation用
  transition: all 0.7s;
  background-color: transparent;

  &.inview {
    background-color: rgba($color: $light-color, $alpha: 0.8);
  }

  &__inner {
    @extend .content-width;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.hero {
  // header分の高さを追加（fixed対策）
  padding-top: $headerHeight;
  background-color: $light-color;

  &__inner {
    @extend .content-width;
    @extend .flex;
    @extend .item-reverse;
  }

  &__img {
    @extend .mb-sm;
    margin: 50px auto;

    & > img {
      width: 80%;
      margin: 0 auto;

      @include mq(md) {
        width: 100%;
      }
    }
  }

  &__texts {
    @extend .mb-sm;
    margin-top: 50px;
    color: $base-color;
  }

  &__title {
    @extend .font-copy;
    @extend .mb-sm;

    @include mq(md) {
      // PC時は改行
      & span {
        display: block;
      }
    }
  }

  &__ul {
    @extend .header3;
    @extend .mb-sm;
    line-height: 2.3;
    padding-left: 0;
  }

  &__li {
    &::before {
      font-family: "Material Icons";
      content: "\e5ca";
      margin-right: 4px;
    }
  }

  &__btn {
    margin: 20px 0 30px 0;
    position: relative;
    padding: 20px 40px;

    // 矢印
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 10px;
      margin: auto;
    }

    // 矢印（横棒）
    &::before {
      width: 14px;
      height: 2px;
      background-color: $light-color;
    }

    // 矢印（右方向の先のやつ）
    &::after {
      width: 10px;
      height: 10px;
      border-top: 2px solid $light-color;
      border-right: 2px solid $light-color;
      transform: rotate(45deg);
    }
  }
}

.feature {
  background-color: $bg-base;
  color: $base-color;
  &__inner {
    @extend .content-width;
    @extend .flex;
    align-items: center;
    gap: 3em;

    @include mq(md) {
      gap: 3em;
    }
  }

  &__item {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &__img {
    @extend .mb-md;
    & > img {
      width: 20%;
      margin: 0 auto;
    }
  }

  &__text {
    @extend .content-text;
  }
}

.function {
  background-color: $bg-dark;
  color: $light-color;

  &__inner {
    @extend .content-width;
    display: flex;
    flex-direction: column;
    gap: 5em;

    @include mq(md) {
      gap: 7em;
    }
  }

  &__item {
    @extend .flex;
    gap: 2.3em;

    @include mq(md) {
      gap: 6em;
    }

    &:nth-child(2) {
      @extend .item-reverse;
    }
  }

  &__img {
    @include mq(md) {
      width: 80%;
    }
  }

  &__text {
    @extend .content-text;
  }
}

.footer {
  &__inner {
    @extend .flex;
    @extend .content-width;
    align-items: center;
    text-align: center;
    margin-top: 45px;

    @include mq(md) {
      justify-content: space-between;
    }
  }

  &__ul {
    @extend .flex;
    @extend .mb-md;
    padding-left: 0;
  }
  &__li {
    @extend .mb-sm;
    & > a {
      color: $base-color;
    }

    @include mq(md) {
      margin-bottom: 0 !important;
      @for $i from 1 through 3 {
        &:nth-child(#{$i})::after {
          content: "/";
          margin: 0 6px;
        }
      }
    }
  }
  &__copyright {
    @extend .mb-md;
    color: $base-color;
  }
}
