@use "../globals/" as *;

// --------------------
// background color
// --------------------
$bg-base: #ffffff;
$light-color: #eceff4;
$bg-dark: #2d3440;
$base-color: #4c566a;
$bg-button-hover: #2e3440;
$bg-icon: #d8dee9;
$icon: #5e81ac;
$headerHeight: 100px;

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
  background: $bg-base;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}
li > a {
  text-decoration: none;
}

// --------------------
// layout
// --------------------
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
}

.mb-sm {
  margin-bottom: 16px !important;
}
.mt-sm {
  margin-top: 16px !important;
}

.mb-md {
  margin-bottom: 32px !important;
}

.mb-lg {
  margin-bottom: 80px !important;

  @include mq(md) {
    margin-bottom: 160px !important;
  }
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;

  @include mq(md) {
    padding-bottom: 160px !important;
  }
}

.flex {
  display: flex;
  flex-direction: column;

  @include mq(md) {
    flex-direction: row;
    // flex-wrap: wrap;
  }
}

.item-reverse {
  @include mq(md) {
    flex-direction: row-reverse;
  }
}

// --------------------
// font size
// --------------------
.font-copy {
  font-size: 30px;

  @include mq(md) {
    font-size: 38px;
  }
}
.header2 {
  font-size: 24px;

  @include mq(md) {
    font-size: 32px;
  }
}
.header3 {
  font-size: 18px;

  @include mq(md) {
    font-size: 22px;
  }
}
.font-sm {
  font-size: 16px;

  @include mq(md) {
    font-size: 18px;
  }
}

// --------------------
// wave img
// --------------------
.wave-bottom {
  margin-top: -1px;
}

.wave-top {
  margin-bottom: -1px;
}

// --------------------
// title
// --------------------
.main-title {
  @extend .header2;
  @extend .mb-md;
  text-align: center;
}
