body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
  background: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

li > a {
  text-decoration: none;
}

.content-width, .header__inner, .hero__inner, .feature__inner, .function__inner, .footer__inner {
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
}

.mb-sm, .hero__img, .hero__texts, .hero__title, .hero__ul, .footer__li, .sub-title {
  margin-bottom: 16px !important;
}

.mb-md, .feature__img, .footer__ul, .footer__copyright, .main-title {
  margin-bottom: 32px !important;
}

.flex, .hero__inner, .feature__inner, .function__item, .footer__inner, .footer__ul {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .flex, .hero__inner, .feature__inner, .function__item, .footer__inner, .footer__ul {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .item-reverse, .hero__inner, .function__item:nth-child(2) {
    flex-direction: row-reverse;
  }
}

.font-copy, .hero__title {
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  .font-copy, .hero__title {
    font-size: 38px;
  }
}

.header2, .main-title {
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .header2, .main-title {
    font-size: 32px;
  }
}

.header3, .hero__ul, .sub-title {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .header3, .hero__ul, .sub-title {
    font-size: 22px;
  }
}

.font-sm, .btn, .content-text, .feature__text, .function__text {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .font-sm, .btn, .content-text, .feature__text, .function__text {
    font-size: 16px;
  }
}

.wave-bottom {
  margin-top: -1px;
}

.wave-top {
  margin-bottom: -1px;
}

.main-title {
  text-align: center;
}

.btn {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  line-height: 1;
  font-weight: 600;
  color: #eceff4;
  background-color: #4c566a;
  border: none;
  border-radius: 8px;
  padding: 15px 16px;
  letter-spacing: 0.16em;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #2e3440;
}

.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.7s;
  background-color: transparent;
}
.header.inview {
  background-color: rgba(236, 239, 244, 0.8);
}
.header__inner {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  padding-top: 100px;
  background-color: #eceff4;
}
.hero__img {
  margin: 50px auto;
}
.hero__img > img {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero__img > img {
    width: 100%;
  }
}
.hero__texts {
  margin-top: 50px;
  color: #4c566a;
}
@media screen and (min-width: 768px) {
  .hero__title span {
    display: block;
  }
}
.hero__ul {
  line-height: 2.3;
  padding-left: 0;
}
.hero__li::before {
  font-family: "Material Icons";
  content: "\e5ca";
  margin-right: 4px;
}
.hero__btn {
  margin: 20px 0 30px 0;
  position: relative;
  padding: 20px 40px;
}
.hero__btn::after, .hero__btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
}
.hero__btn::before {
  width: 14px;
  height: 2px;
  background-color: #eceff4;
}
.hero__btn::after {
  width: 10px;
  height: 10px;
  border-top: 2px solid #eceff4;
  border-right: 2px solid #eceff4;
  transform: rotate(45deg);
}

.feature {
  background-color: #ffffff;
  color: #4c566a;
}
.feature__inner {
  align-items: center;
  gap: 3em;
}
@media screen and (min-width: 768px) {
  .feature__inner {
    gap: 3em;
  }
}
.feature__item {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.feature__img > img {
  width: 20%;
  margin: 0 auto;
}
.function {
  background-color: #2d3440;
  color: #eceff4;
}
.function__inner {
  display: flex;
  flex-direction: column;
  gap: 5em;
}
@media screen and (min-width: 768px) {
  .function__inner {
    gap: 7em;
  }
}
.function__item {
  gap: 2.3em;
}
@media screen and (min-width: 768px) {
  .function__item {
    gap: 6em;
  }
}
@media screen and (min-width: 768px) {
  .function__img {
    width: 80%;
  }
}
.footer__inner {
  align-items: center;
  text-align: center;
  margin-top: 45px;
}
@media screen and (min-width: 768px) {
  .footer__inner {
    justify-content: space-between;
  }
}
.footer__ul {
  padding-left: 0;
}
.footer__li > a {
  color: #4c566a;
}
@media screen and (min-width: 768px) {
  .footer__li {
    margin-bottom: 0 !important;
  }
  .footer__li:nth-child(1)::after {
    content: "/";
    margin: 0 6px;
  }
  .footer__li:nth-child(2)::after {
    content: "/";
    margin: 0 6px;
  }
  .footer__li:nth-child(3)::after {
    content: "/";
    margin: 0 6px;
  }
}
.footer__copyright {
  color: #4c566a;
}/*# sourceMappingURL=style.css.map */